h2 {
  font-size: 20pt;
  font-weight: bold;
}

.listsDiv {
  float: left;
  width:50%;
}

.list_items{
    font-size: 12pt;
    font-weight: bold;
}

.note_items{
    font-size: 12pt;
}

.notesDiv {
    float: right;
    width:50%;
}

.page {
  margin: auto;
  border:1px solid black;
  width:5in;
  min-height:4in;
  padding:0.25in;
}

.submission {
  margin-left: 1in;
}
