h2 {
  font-size: 20px;
  font-weight: bold;
}

.listsDiv {
  float: left;
  width:50%;
}

.lists_items{
    font-size: 14px;
}

.notesDiv {
    float: right;
    width:50%;
}

.page {
  margin: auto;
  border:1px solid black;
  width:5in;
  min-height:3in;
  padding:0.25in;
}

.submission {
  margin-left: 1in;
}
